<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Update Success!!!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    	<link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
    <div class="container mt-5 text-center">
        <h2>Admin Update Success</h2>
        <div class="mt-4">
            <a href="/admin/adminProfile" class="btn btn-primary">Go to Admin Profile</a>
        </div>
    </div>
</body>
</html>
