<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Signup Error</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Welcome to One Piece - The Manga Library</h1>
        <h2 class="mt-3 text-danger">Admin Sign-up Error! Please fill all the details correctly.</h2>
        <div class="mt-4">
            <a href="/student/signup" class="btn btn-primary">Back to Admin Login</a>
        </div>
    </div>

   
