<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>No Result</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    	<link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
    <div class="container mt-5 text-center">
        <h1>No Manga found with this search Criteria!</h1><br>
        <div class="mt-4">
            <a href="/admin/dashboard" class="btn btn-primary">Go back to dashboard</a>
        </div>
    </div>
</body>
</html>
