<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manga Deleted Successfully</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    	<link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Deletion Confirmation</h1>

        <p class="mt-4">You have deleted <span th:text="${result}">0</span> manga/s.</p>

        <a href="/manga/adminbrowse" class="btn btn-primary mt-3">Back to Browse Mangas</a> <br/>
        
        <a href="/admin/logout" class="btn btn-secondary mt-3">Logout of Admin Account</a>
    </div>
</body>
</html>
