<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Account exist</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    	<link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Welcome to One Piece - The Manga Library</h1>
        <h2 class="mt-3">Account with this Email exist!!! You can continue Login:</h2>
        <div class="mt-4">
            <a href="/student/login" class="btn btn-primary">Student Login</a>
        </div>
    </div>
</body>
</html>
